
html{
	position: relative;
	min-height: 100%;
}
footer{
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	overflow: hidden;
}

.additional{
	margin: 20px 0 0 50px;
}
.container>.login{
	margin-bottom: 70px;
}
.container>.login:last-child{
	margin-bottom: calc(70px*3.5);
}
.order{
	float: right;
}
.btns>form{
	display: contents;
}
.login>h2{
	display: inline;
}
.login>p{
	display: inline;
	float: right;
	margin: 0 50px;
	font-size: 1.5em;
	color: #D19650;
	font-weight: 100;
}
.res{
	position: fixed;
	top: 90px;
	width: 420px;
	background: #F0F0F0;
	border-radius: 10px;
	padding: 30px 30px;
	right: 90px;
}
.res>h2{
	display: inline;
}
.res>p{
	display: inline;
	float: right;
}
.option>input[type="radio"]{
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
.pay{
	display: flex;
	width: 100%;
	justify-content: space-around;
	margin-bottom: 20px;
}
.res>.option>label{
	cursor: pointer;
	display: inline;
}
.option>input:checked+label>img{
	transition: box-shadow .4s;
	box-shadow: 0px 0px 15px 3px #D19650;
}
.field>label{
	transform-origin: left;
}
.option>label>img{
	display: block;
	width: 64px;
}
.res>input{
	width: 50px;
}
.option{
	display: inline;
}
.remove{
	color: red;
}
.order{
	color: #58a958;
}
.order:disabled{
	color: grey;
}
.res>p{
	color: #D19650;
	font-weight: 600;
}
i.req{
	color: red;
	font-size: 17px;
}
