.login{
	width: 700px;
	min-height: 120px;
	background: #F0F0F0;
	border-radius: 10px;
	box-shadow: 0 3px 6px rgba(0,0,0,.15);
	padding-top: 45px;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 45px;
}
.login>h2{
	font-weight: normal;
	margin: 0 50px;
}
.login>form>.row{
	margin-top: 52px;
	justify-content: center;
	display: flex;
	padding: 0 110px;
	flex-wrap: wrap;
}

/*experimental*/
.field > input{
	outline: none;
	width: 100%;
	height: 25px;
	border: none;
	background: transparent;
	border-bottom: 1px solid black;
	position: relative;
	display: block;
}
.field{
	margin: 20px auto;
	height: 26px;
	position: relative;
}

.field:last-child {
	margin-top: 72px;
}
.field > .label {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	margin-left: 0;
	position: absolute;
	top: 0;
	pointer-events: none;
	-webkit-transition: transform .3s, color .3s;
	-moz-transition: transform .3s, color .3s;
	-ms-transition: transform .3s, color .3s;
	-o-transition: transform .3s, color .3s;
	transition: transform .3s, color .3s;
	/*transform-origin: bottom left;*/
}
button,input[type="button"], input[type="submit"] {
	width: 157px;
	height: 25px;
	background: transparent;
	border: 1px solid;
	font-size: 15px;
	font-weight: normal;
	user-select: none;
}
.row>div:nth-child(even)>label{
	transform-origin: bottom right;
	right: 0;
}
.row>div:nth-child(odd)>label{
	transform-origin: bottom left;
}
.row>div:nth-child(even)>input{
	text-align: right;
}

.row>div>input:focus ~ label.label{
	-webkit-transition: transform .3s, color .3s;
	-moz-transition: transform .3s, color .3s;
	-ms-transition: transform .3s, color .3s;
	-o-transition: transform .3s, color .3s;
	transition: transform .3s, color .3s;
	-webkit-transform: translateY(-30px) scale(.75);
	-moz-transform: translateY(-30px) scale(.75);
	-ms-transform: translateY(-30px) scale(.75);
	-o-transform: translateY(-30px) scale(.75);
	transform: translateY(-20px) scale(.75);
	color: #D19650;
}
.row>div:nth-child(1)>input:focus ~ label.label {
	transform-origin: bottom left;
}
.row>div:nth-child(even)>input:focus ~ label.label {
	transform-origin: bottom right;
}
.field > input:focus ~ .label::after {
	content: ":";
}
.textfield {
	flex-basis: 36%;
	flex-basis: 40%;

}

.field > input:focus ~ .underline {
	transition: transform .3s;
	transform: scale(1);
}

.underline {
	transition: transform .3s;
	position: absolute;
	background-color: #D19650;
	-webkit-transform: scale(0);
	-moz-transform: scale(0);
	-ms-transform: scale(0);
	-o-transform: scale(0);
	transform: scale(0);
	height: 2px;
	width: 100%;
	bottom: 0;
}
.activejs {
	-webkit-transition: transform .3s, color .3s;
	-moz-transition: transform .3s, color .3s;
	-ms-transition: transform .3s, color .3s;
	-o-transition: transform .3s, color .3s;
	transition: transform .3s, color .3s;
	-webkit-transform: translateY(-30px) scale(.75);
	-moz-transform: translateY(-30px) scale(.75);
	-ms-transform: translateY(-30px) scale(.75);
	-o-transform: translateY(-30px) scale(.75);
	transform: translateY(-20px) scale(.75);
}

.activejs:after {
	content: ":";
}
/*/experimental*/
.error{
	position: relative;
	padding: .75rem 1.25rem;
	margin: 1rem 1rem;
	border: 1px solid transparent;
	border-radius: .25rem;
	color: #721c24;
	background-color: #f8d7da;
	border-color: #f5c6cb;
}
div.field.checkbox,div.field.button{
	flex-basis: 100%;
}
.button{
	text-align: center;
}



.checkbox {
	display: flex;
	flex-wrap: wrap;
	cursor: pointer;
}
.checkbox>*{
	cursor: pointer;
}
.checkbox>label>span{
	user-select: none;
}
.checkbox>label{
	position: relative;
	margin: 10px 0;
}

.checkbox>label>input {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	position: absolute;
	z-index: -1;
	left: -15px;
	top: -15px;
	display: block;
	margin: 0;
	border-radius: 50%;
	width: 48px;
	height: 48px;
	background-color: rgba(0, 0, 0, 0.42);
	outline: none;
	opacity: 0;
	transform: scale(1);
	-ms-transform: scale(0);
	transition: opacity 0.5s, transform 0.5s;
}

.checkbox>label>input:checked {
	background-color: #D19650;
}

.checkbox>label:active > input {
	opacity: 1;
	transform: scale(0);
	transition: opacity 0s, transform 0s;
}

.checkbox>label> input:disabled {
	opacity: 0;
}

.checkbox>label> input:disabled + span {
	color: rgba(0, 0, 0, 0.38);
	cursor: initial;
}

.checkbox>label> span::before {
	content: "";
	display: inline-block;
	margin-right: 15px;
	border: solid 2px rgba(0,0,0,0.54);
	border-radius: 2px;
	width: 14px;
	height: 14px;
	vertical-align: -4px;
	transition: border-color 0.5s, background-color 0.5s;
}

.checkbox>label> input:checked + span::before {
	 border-color: #D19650;
	 background-color: #D19650;
 }

.checkbox>label> input:active + span::before {
	border-color: #D19650;
}

.checkbox>label> input:checked:active + span::before {
	border-color: transparent;
	background-color: rgba(0, 0, 0, 0.42);
}

.checkbox>label> input:disabled + span::before {
	border-color: rgba(0, 0, 0, 0.26);
}

.checkbox>label> input:checked:disabled + span::before {
	border-color: transparent;
	background-color: rgba(0, 0, 0, 0.26);
}

.checkbox>label>span::after {
	content: "";
	display: inline-block;
	position: absolute;
	top: 1px;
	left: 0;
	width: 5px;
	height: 10px;
	border: solid 2px transparent;
	border-left: none;
	border-top: none;
	transform: translate(5.5px, 1px) rotate(45deg);
	-ms-transform: translate(5.5px, 2px) rotate(45deg);
}

.checkbox>label> input:checked + span::after {
	border-color: #fff;
}
.checkbox>label>span>a{
	color: #D19650;
	text-decoration: underline;
}

@media screen and (max-width: 1460px) {
	.login {
		width: 33.5%;
	}
}