.content>.prodimg{
	width: 30%;
}
.content>.text{
	float: right;
}
.content>.text>*{
	text-align: right;
}
.content>.text>h2{
	font-size: 30px;
}
.content>.text>h3{
	color: #D19650;
	font-size: 25px;
}
.content>.text{
	width: 45%;
}
.content>.text>p{
	font-size: 12px;
	line-height: 35px;
}
.content>.text>hr{
	border: 1px solid #707070;
}
.content>.text>ul{
	padding: 0;
	list-style: none;
	display: flex;
	width: 450px;
	justify-content: space-between;
}
.content>.text>.quantity{
	text-align: left;
}
.content>.text>.quantity>.amount{
	padding: 0;
	width: 50px;
	text-align: center;
}
.content>.text>.submit{
	float: right;
}
input[type="radio"]{
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
.size>label{
	position: relative;
}
input[type="radio"]:checked+label:after{
	content: '';
	position: absolute;
	width: 100%;
	bottom: 0;
	left: 0;
	border-bottom: 1px solid black;
}
.text>form>.order{
	 display: flex;
	 text-align: initial;
	 flex-direction: column;
 }
 form>.order>.size{
	 display: flex;
	 flex-basis: 100%;
	 justify-content: space-between;
 }
 .size>label{
	 width: 30px;
	 text-align: center;
	 cursor: pointer;
 }
 form>.order>*{
	 margin-top: 15px;
 }
 form>.order>input.submit{
	 height: 26px;
	 background-color: #D19650;
	 border: 1px solid black;
	 cursor: pointer;
 }
form>.order>input.submit:disabled{
	height: 26px;
	background-color: white;
	border: 1px solid black;
}